<!doctype html>
<html lang="en" xml:lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Harry Hull" />
		<meta name="keywords" content="blag blog" />

		<link href="http://gentle-journey-9685.herokuapp.com/media/style/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="http://gentle-journey-9685.herokuapp.com/media/style/style.css" rel="stylesheet" type="text/css">

	<title>Harry's Blag</title>		
	</head>
	<body>
	<header>		
		<div class="page-header">		
			<h1>Harry's Blag<small>Programming, Ranting, etc.</small></h1>
		</div>
		<nav id='nav'>
		<ul class="nav nav-tabs">
			<li class="active"><a href="">All</a></li>
			<li><a href="today/index.html">Today</a></li>
	        <li><a href="month/index.html">Month</a></li>
	        <li><a href="year/index.html">Year</a></li> 
	      </ul>
		</nav>
	</header>

	{% if latest_post_list %}
	    <div id="content">

	    {% for post in latest_post_list %}
	        <div id="post"><div id="post-likes">
	        		<div class="well well-small">Useless internet points: <span class="badge badge-info">{{post.likes}}</span></div>
	        	</div><div id="post-title"><a href="/simpleBlog/{{ post.id }}/"><h2>{{ post.title }}</h2></div></a>	        	
	        	<div id="post-date">
	        		{{post.pub_date}}
	        	</div>
	        	<div id="post-content">
	        		{{post.content|linebreaks}}
	        	</div>
	        </div>
	    {% endfor %}
	    </div>
	{% else %}
	    <p>No posts are available.</p>
	{% endif %}


	</body>
</html>